.bottomArea {
    display: flex;
   
    padding-bottom: 5%;
  }
  
  .card {
    display: flex;
    width: 100%;
  }
  
  .cardContent {
    margin-left: 14px;
  }
  
  .cardContent .cardNumber {
    font-size: 20px;
    font-weight: 900;
    color: gray;
  }

  .image {
    width: 100%;
    height: 100px;
  }
  
  .cardContent .cardTitle {
    font-size: 16px;
    height: 150px;
    font-weight: 800;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
  }
  
